<a href="https://colab.research.google.com/github/tomboy97/Synergies2021/blob/main/Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from pandas import read_csv
import pandas as pd
import io

In [2]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [10]:
df = pd.read_csv(io.BytesIO(uploaded['train.csv']), skiprows=1,header=None) 
print(df.head())

          0                  1  2   3   ...          20 21         22         23
0  C-3301001       Paul Dempsey  M  19  ...  Semi-Urban  0  323790.36       0.00
1  C-3301002  Gerry Christensen  F  52  ...       Rural  1  131466.83   56761.14
2  C-3301003    Agusta Madison   M  33  ...       Rural  1  504493.70  216583.32
3  C-3301004            B Burns  M  18  ...       Urban  1  247844.55  112498.54
4  C-3301005        Paul Bolick  M  58  ...       Rural  1  212424.65   79958.20

[5 rows x 24 columns]

In [14]:
print(df.dtypes)

0      object
1      object
2      object
3       int64
4     float64
5      object
6      object
7      object
8      object
9     float64
10    float64
11     object
12     object
13    float64
14    float64
15      int64
16     object
17      int64
18    float64
19      int64
20     object
21      int64
22    float64
23    float64
dtype: object

In [18]:
y = df.iloc[:, 23]
print(y)

0             0.00
1         56761.14
2        216583.32
3        112498.54
4         79958.20
           ...
21244         0.00
21245         0.00
21246     87076.29
21247     73807.34
21248     81702.23
Name: 23, Length: 21249, dtype: float64

Training the models

In [23]:
df.isnull().sum()

0        0
1        0
2       39
3        0
4     3223
5     1187
6        0
7     5195
8        0
9        0
10     116
11       0
12       0
13    1732
14    1190
15       0
16    1086
17       0
18    3410
19       0
20     250
21       0
22       0
23       0
dtype: int64

Filling of numerical data

In [62]:
df[4].fillna(df[4].mean(), inplace=True)
print(df[4])

0        2439.550000
1        3229.110000
2        4880.710000
3        2650.049937
4        2864.720000
            ...
21244    1324.000000
21245    3810.990000
21246    2650.049937
21247    1409.950000
21248    2650.049937
Name: 4, Length: 21249, dtype: float64

In [61]:
df[10].fillna(df[10].mean(),inplace=True)
print(df[10])

0         661.030000
1         439.920000
2        1150.090000
3         401.891057
4         517.350000
            ...
21244     381.370000
21245    1041.530000
21246     402.560000
21247     828.640000
21248     461.680000
Name: 10, Length: 21249, dtype: float64

In [60]:
df[13].fillna(df[13].median(), inplace=True)
print(df[13])

0        2.0
1        1.0
2        2.0
3        4.0
4        1.0
        ...
21244    2.0
21245    2.0
21246    2.0
21247    4.0
21248    1.0
Name: 13, Length: 21249, dtype: float64

In [57]:
df[14].fillna(df[14].mean(), inplace=True)
print(df[14])

0        624.34
1        798.30
2        787.47
3        819.74
4        675.89
          ...
21244    718.40
21245    768.06
21246    771.86
21247    726.79
21248    876.27
Name: 14, Length: 21249, dtype: float64

In [59]:
df[18].fillna(df[18].mean(), inplace=True)
print(df[18])

0        2439.550000
1        3229.110000
2        4880.710000
3        2649.893002
4        2864.720000
            ...
21244    1324.000000
21245    3810.990000
21246    2649.893002
21247    1409.950000
21248    2649.893002
Name: 18, Length: 21249, dtype: float64

filling categorical values

In [63]:
df.isnull().sum()

0        0
1        0
2       39
3        0
4        0
5     1187
6        0
7     5195
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16    1086
17       0
18       0
19       0
20     250
21       0
22       0
23       0
dtype: int64

In [76]:
df[2].fillna(df[2].mode()[0], inplace=True)
print(df[2])

0        M
1        F
2        M
3        M
4        M
        ..
21244    F
21245    M
21246    M
21247    F
21248    M
Name: 2, Length: 21249, dtype: object

In [75]:
df[5].fillna(df[5].mode()[0], inplace=True)
print(df[5])

0         Low
1         Low
2         Low
3         Low
4         Low
         ...
21244     Low
21245     Low
21246     Low
21247     Low
21248    High
Name: 5, Length: 21249, dtype: object

In [74]:
df[7].fillna(df[7].mode()[0], inplace=True)
print(df[7])

0              Laborers
1              Laborers
2              Laborers
3            Core staff
4        Security staff
              ...
21244    Medicine staff
21245        Core staff
21246        Core staff
21247    Cleaning staff
21248          Laborers
Name: 7, Length: 21249, dtype: object

In [72]:
df[16].fillna(df[16].mode()[0], inplace=True)
print(df[16])

0        Inactive
1        Inactive
2          Active
3          Active
4          Active
           ...
21244      Active
21245      Active
21246      Active
21247      Active
21248      Active
Name: 16, Length: 21249, dtype: object

In [73]:
df[20].fillna(df[20].mode()[0], inplace=True)
print(df[20])

0        Semi-Urban
1             Rural
2             Rural
3             Urban
4             Rural
            ...
21244         Rural
21245    Semi-Urban
21246    Semi-Urban
21247         Rural
21248    Semi-Urban
Name: 20, Length: 21249, dtype: object

In [77]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
dtype: int64

Label encoding of categorical data

In [107]:
# Categorical boolean mask
categorical_feature_mask = df.dtypes==object

# filter categorical columns using mask and turn it into a list
categorical_cols = df.columns[categorical_feature_mask].tolist()
categorical_cols.pop(0)
categorical_cols.pop(0)
print(categorical_cols)

[2, 5, 6, 7, 8, 11, 12, 16, 20]

In [108]:
# import labelencoder
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

In [109]:
# apply le on categorical feature columns
df[categorical_cols] = df[categorical_cols].apply(lambda col: le.fit_transform(col))
df[categorical_cols].head(10)

   2   5   6   7   8   11  12  16  20
0   1   1   1   8   1   0   1   1   1
1   0   1   7   8   1   0   1   1   0
2   1   1   4   8   2   1   1   0   0
3   1   1   7   3   1   0   1   0   2
4   1   1   7  16   1   1   0   0   0
5   1   1   1  14   1   1   0   2   2
6   1   0   3   8   1   0   0   1   2
7   0   1   7  14   1   1   0   0   2
8   1   0   3   8   1   0   1   1   2
9   1   1   7  14   1   0   0   0   0

Creating X and y variable for training

In [110]:
X_train = df.iloc[:, 2:23]
print(X_train)

       2   3            4   5   6   7   ...   17           18  19  20  21         22
0       1  19  2439.550000   1   1   8  ...  311  2439.550000   4   1   0  323790.36
1       0  52  3229.110000   1   7   8  ...    7  3229.110000   1   0   1  131466.83
2       1  33  4880.710000   1   4   8  ...  689  4880.710000   3   0   1  504493.70
3       1  18  2650.049937   1   7   3  ...  696  2649.893002   4   2   1  247844.55
4       1  58  2864.720000   1   7  16  ...  460  2864.720000   4   0   1  212424.65
...    ..  ..          ...  ..  ..  ..  ...  ...          ...  ..  ..  ..        ...
21244   0  20  1324.000000   1   1  11  ...  465  1324.000000   4   0   1   55307.51
21245   1  22  3810.990000   1   1   3  ...  646  3810.990000   4   1   1  446882.76
21246   1  20  2650.049937   1   4   3  ...  279  2649.893002   4   1   1  180658.11
21247   0  35  1409.950000   1   7   1  ...  592  1409.950000   4   0   1  165358.16
21248   1  64  2650.049937   0   3   8  ...  605  2649.893002   2   1   1  174894.73

[21249 rows x 21 columns]

In [111]:
y_train = df.iloc[:, 23]
print(y_train)

0             0.00
1         56761.14
2        216583.32
3        112498.54
4         79958.20
           ...
21244         0.00
21245         0.00
21246     87076.29
21247     73807.34
21248     81702.23
Name: 23, Length: 21249, dtype: float64

Splitting X_train and y_train into training and testing set

In [124]:
# split into train and test
from sklearn.model_selection import train_test_split
X_train_train, X_train_test, y_train_train, y_train_test = train_test_split(X_train, y_train, 
                                                    train_size=0.7,
                                                    test_size = 0.3, random_state=100)

Training models

In [126]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression(normalize=True)
clf.fit(X_train_train,y_train_train)
y_pred = clf.predict(X_train_test)
# print(r2_score(y_train_test,y_pred))

In [127]:
print(y_pred)

[22538.99720565 30510.87323271 63755.34976062 ... 21660.08696863
 93659.34063135  2961.819646  ]

In [128]:
from sklearn.metrics import r2_score
print(r2_score(y_train_test,y_pred))

0.5865613234978819

In [135]:
from sklearn.tree import DecisionTreeRegressor
clf1 = DecisionTreeRegressor()
clf1.fit(X_train_train,y_train_train)
y_pred_des = clf1.predict(X_train_test)

In [136]:
print(r2_score(y_train_test,y_pred_des))

0.5788153823569155

In [139]:
from sklearn.neighbors import KNeighborsRegressor
# Create KNN classifier
knn = KNeighborsRegressor(n_neighbors = 3)
# Fit the classifier to the data
knn.fit(X_train_train,y_train_train)
y_pred_knn = knn.predict(X_train_test)

In [140]:
print(r2_score(y_train_test,y_pred_knn))

0.3717803037876778

In [176]:
accuracies = cross_val_score(estimator=clf, X=X_train_train, y=y_train_train, cv=10)
accuracies.mean()

1.0

In [177]:
accuracies_des = cross_val_score(estimator=clf1, X=X_train_train, y=y_train_train, cv=10)
accuracies_des.mean()

0.6935325067049686

Cleaning test dataset

In [82]:
from google.colab import files
dataset = files.upload()

Saving test.csv to test.csv

In [84]:
df_test = pd.read_csv(io.BytesIO(dataset['test.csv']), skiprows=1,header=None) 
print(df_test.head())

          0               1  2   3   ...  19          20 21         22
0  C-4401001  Andrew Dedmond  M  18  ...   1       Urban  1   93121.79
1  C-4401002       B Andrews  F  65  ...   1       Rural  1   84638.14
2  C-4401003    Anna Banning  F  42  ...   4       Urban  0  136464.20
3  C-4401004        Al Baksh  F  63  ...   3       Rural  1   33670.81
4  C-4401005      Zakir Sims  M  27  ...   2  Semi-Urban  1   57246.19

[5 rows x 23 columns]

In [85]:
df_test.isnull().sum()

0        0
1        0
2       12
3        0
4     1169
5      436
6        0
7     1917
8        0
9        0
10      46
11       0
12       0
13     660
14     449
15       0
16     430
17       0
18    1242
19       0
20      91
21       0
22       0
dtype: int64

Filling numerical values

In [87]:
df_test[4].fillna(df_test[4].mean(), inplace = True)
print(df_test[4])

0       2670.980000
1       1240.110000
2       2108.310000
3        790.180000
4       2943.190000
           ...
7995    6214.550000
7996    3170.730000
7997    3363.300000
7998    1269.800000
7999    2569.207172
Name: 4, Length: 8000, dtype: float64

In [88]:
df_test[10].fillna(df_test[10].mean(), inplace = True)
print(df_test[10])

0       234.21
1       305.03
2       360.45
3       112.97
4       199.04
         ...
7995    510.40
7996    736.99
7997    683.97
7998    115.13
7999    843.31
Name: 10, Length: 8000, dtype: float64

In [89]:
df_test[13].fillna(df_test[13].median(), inplace = True)
print(df_test[13])

0       3.0
1       2.0
2       3.0
3       2.0
4       2.0
       ...
7995    3.0
7996    1.0
7997    2.0
7998    2.0
7999    1.0
Name: 13, Length: 8000, dtype: float64

In [98]:
df_test[14].fillna(df_test[14].mean(), inplace = True)
print(df_test[14])

0       708.35
1       851.36
2       636.52
3       791.06
4       697.74
         ...
7995    614.57
7996    672.21
7997    814.96
7998    785.10
7999    675.02
Name: 14, Length: 8000, dtype: float64

In [91]:
df_test[18].fillna(df_test[18].mean(), inplace = True)
print(df_test[18])

0       2670.980000
1       1240.110000
2       2108.310000
3        790.180000
4       2943.190000
           ...
7995    6214.550000
7996    3170.730000
7997    3363.300000
7998    1269.800000
7999    2570.303358
Name: 18, Length: 8000, dtype: float64

filling categorical values

In [92]:
df_test[2].fillna(df_test[2].mode()[0], inplace = True)
print(df_test[2])

0       M
1       F
2       F
3       F
4       M
       ..
7995    F
7996    M
7997    M
7998    F
7999    M
Name: 2, Length: 8000, dtype: object

In [93]:
df_test[5].fillna(df_test[5].mode()[0], inplace = True)
print(df_test[5])

0        Low
1       High
2        Low
3       High
4        Low
        ...
7995     Low
7996     Low
7997     Low
7998     Low
7999     Low
Name: 5, Length: 8000, dtype: object

In [94]:
df_test[7].fillna(df_test[7].mode()[0], inplace = True)
print(df_test[7])

0               Core staff
1                 Laborers
2                 Laborers
3                 Laborers
4       Low-skill Laborers
               ...
7995               Drivers
7996           Sales staff
7997            Core staff
7998              Laborers
7999              Laborers
Name: 7, Length: 8000, dtype: object

In [95]:
df_test[16].fillna(df_test[16].mode()[0], inplace = True)
print(df_test[16])

0            Active
1            Active
2            Active
3            Active
4          Inactive
           ...
7995       Inactive
7996    Unpossessed
7997    Unpossessed
7998       Inactive
7999    Unpossessed
Name: 16, Length: 8000, dtype: object

In [96]:
df_test[20].fillna(df_test[20].mode()[0], inplace = True)
print(df_test[20])

0            Urban
1            Rural
2            Urban
3            Rural
4       Semi-Urban
           ...
7995         Rural
7996         Rural
7997         Urban
7998         Rural
7999         Urban
Name: 20, Length: 8000, dtype: object

In [99]:
df_test.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
dtype: int64

Label encoding of categorical values

In [112]:
# Categorical boolean mask
categorical_feature_mask = df_test.dtypes==object

# filter categorical columns using mask and turn it into a list
categorical_cols = df_test.columns[categorical_feature_mask].tolist()
categorical_cols.pop(0)
categorical_cols.pop(0)
print(categorical_cols)

[2, 5, 6, 7, 8, 11, 12, 16, 20]

In [113]:
# import labelencoder
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

In [114]:
# apply le on categorical feature columns
df_test[categorical_cols] = df_test[categorical_cols].apply(lambda col: le.fit_transform(col))
df_test[categorical_cols].head(10)

   2   5   6   7   8   11  12  16  20
0   1   1   5   3   1   0   0   0   2
1   0   0   2   8   0   0   0   0   0
2   0   1   5   8   1   0   0   0   2
3   0   0   2   8   1   0   1   0   0
4   1   1   5   9   1   0   1   1   1
5   0   1   1   8   1   1   1   2   2
6   0   1   1   8   1   0   1   1   1
7   1   1   5   8   1   1   1   2   2
8   0   1   5   6   1   0   1   2   0
9   1   1   5  10   1   0   1   2   2

Split X and y for testing

In [115]:
X_test = df_test.iloc[:, 2:23]
print(X_test)

      2   3            4   5   6   7   ...   17           18  19  20  21         22
0      1  18  2670.980000   1   5   3  ...  398  2670.980000   1   2   1   93121.79
1      0  65  1240.110000   0   2   8  ...  352  1240.110000   1   0   1   84638.14
2      0  42  2108.310000   1   5   8  ...  500  2108.310000   4   2   0  136464.20
3      0  63   790.180000   0   2   8  ...  360   790.180000   3   0   1   33670.81
4      1  27  2943.190000   1   5   9  ...  768  2943.190000   2   1   1   57246.19
...   ..  ..          ...  ..  ..  ..  ...  ...          ...  ..  ..  ..        ...
7995   0  26  6214.550000   1   5   4  ...  756  6214.550000   3   0   0  218721.09
7996   1  63  3170.730000   1   5  14  ...  310  3170.730000   4   0   1  227181.94
7997   1  63  3363.300000   1   3   3  ...  838  3363.300000   4   2   1  286234.45
7998   0  18  1269.800000   1   5   8  ...  558  1269.800000   2   0   1   59028.48
7999   1  43  2569.207172   1   1   8  ...  961  2570.303358   2   2   1  175989.12

[8000 rows x 21 columns]

In [182]:
y_result = clf.predict(X_test)

In [183]:
print(y_result)

[ 22070.40506709  53877.25210459  32642.17809467 ... 103429.88860103
  24301.04477653  46554.86785454]

In [185]:
pd.DataFrame(y_result).to_csv('result.csv')